<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Location #<%= @location.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>City</dt>
              <dd><%= @location.city %></dd>

              <dt>Country</dt>
              <dd><%= @location.country %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/locations" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          All Locations
        </li>
        <% @location.activity.each do |activity| %>
        <li class="list-group-item">
          <%= activity.name %>
        </li>
        <% end %>

        <li class="list-group-item">
          <!-- Validation failure messages -->

          <% if @activity.errors.any? %>
          <% @activity.errors.full_messages.each do |message| %>
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= message %>
          </div>
          <% end %>
          <% end %>

          <!-- Responsive panel example -->

          <div class="row">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Add Activity</h3>
                </div>
                <div class="panel-body">
                  <form action="/create_activity" method="post" class="form-horizontal">
                    <!-- Hidden input for authenticity token to protect from forgery -->
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                    <!-- Label and input for name -->
                    <div class="form-group">
                      <label for="name" class="col-sm-2 control-label">
                        Name
                      </label>
                      <div class="col-sm-10">
                        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @activity.name %>">
                      </div>
                    </div>

                    <!-- Label and input for address -->
                    <div class="form-group">
                      <label for="address" class="col-sm-2 control-label">
                        Address
                      </label>
                      <div class="col-sm-10">
                        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @activity.address %>">
                      </div>
                    </div>

                    <input type="hidden" name="location_id" value="<%= @location.id %>">

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success">
                          Create Activity
                        </button>
                        or
                        <a href="/activities">Cancel</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- End responsive panel example -->

        </li>
      </ul>

      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          Favorites
        </li>
        <% @location.favorites.each do |favorite| %>
        <li class="list-group-item">
          <%= favorite.user.username %> likes <%= favorite.dish.name %> at <%= favorite.activity.name %>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<!-- End responsive panel example -->
